@import "./_theme.scss";
@import "tachyons-sass";
@import "_tachyon/_percentage-coordinates.scss";
@import "_tachyon/_hover-z-index.scss";
@import "./_animations.scss";

.text-shadow { text-shadow: 1px 0px 8px rgba(0, 0, 0, 0.55) };

.drop-last-br {
  &:last-child {
    border-right: 0;
  }
}

.drop-last-bb {
  &:last-child {
    border-bottom: 0;
  }
}

html, body, #root {
  @extend .min-vh-100;
}

body {
  @extend .ma0, .pa0, .f5, .sans-serif, .mid-gray;
}

#root {
  @extend .flex, .items-stretch, .flex-column;
}

a {
  @extend .green, .no-underline;
}

input, textarea {
  &:focus {
    outline: 0;
  }
}

svg {
  @extend .mw-100;

  path {
    fill:$green;
  }
}

.main {
  @import "./_wordpress.scss";
  flex-grow: 1;
}

#header {
  .menu-item.level-1, .menu-item.level-2 {
    &:hover {
      > .sub-menu {
        display: block;
      }
    }
  }

  .mobile-toggle {
    div {
      width: $spacing-large;
      height: $spacing-extra-small;
      background-color: $black;
      margin: $spacing-extra-small auto;
    }
  }
}

.testimonials {
  .testimonial {
    @extend .bb, .b--white-30;

    &:last-child {
      @extend .bb-0;
    }
  }
}

.advantages {
  .advantage {
    &--inner {
      @media #{$breakpoint-large} {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

#footer {
  .nested-menu {
    a:before {
      @extend .f2, .green, .relative, .mr2;

      top: 0.3rem;
      line-height:0;
      content: '-';
    }
  }
}