@import "./_theme.scss";
@import "tachyons-sass";

.text-shadow { text-shadow: 1px 0px 8px rgba(0, 0, 0, 0.55) };

body {
  @extend .ma0, .pa0, .f5, .sans-serif;
}

a {
  @extend .blue, .no-underline;
}

.main {
  @import "./_wordpress.scss";

  article.content {
    @extend .ma4, .w-two-thirds-l, .center-l;
  }
}

.labs-footer {
  @extend .flex, .justify-center, .items-center, .flex-column;
  height: 16.25rem;
}

#header {
  #inner-header {
    @extend .flex, .items-center, .justify-center, .w-60-l, .center-l;
  }

  .brand {
    @extend .pv2;

    svg {
      @extend .db;
    }
  }

  .navigation {
    @extend .flex, .justify-between, .items-center;
  }

  #menu-header-menu {
    @extend .flex, .items-center, .list, .pa0, .ma0, .h-100, .f-grow, .ph2;

    > li {
      @extend .h-100;

      > a {
        @extend .flex, .items-center, .h-100;

        .link-inner {
          @extend .db, .ph3, .pv1, .blue, .border-box, .ttu, .tracked, .br, .b--black-30, .b;
        }

        &:hover {
          @extend .bg-blue;

          .link-inner {
            @extend .white;
          }
        }
      }

      &:last-child {
        > a {
          .link-inner {
            @extend .bn;
          }
        }
      }
    }
  }

  .search-icon {
    @extend .br-100, .bg-blue, .flex, .items-center;

    width: $font-size-4;
    height: $font-size-4;

    svg {
      @extend .center;

      width: $spacing-small;
      height: $spacing-small;

      path {
        stroke: #fff;
      }
    }

    &:hover {
      @extend .bg-navy;
    }
  }
}

.hero {
  @extend .cover, .pv5, .bg-center, .relative, .white;

  z-index: 1;

  &--inner {
    @extend .relative, .w-two-thirds-l, .center-l;

    min-height: $max-width-6;
  }

  &--section {
    @extend .absolute, .bottom-0, .f1, .tc, .w-100;

    z-index: 2;
  }
}

.home {
  &--rows {
    @extend .w-80-l, .center, .pa2, .sans-serif;
  }
}

.alternating-rows {
  @extend .center;

  &--inner {
    @extend .cf, .tracked, .ttu;

    .cell {
      @extend .fl, .w-100, .pa3, .relative;

      z-index: 1;
      height: $max-width-6;

      &--inner {
        @extend .w-100, .cover, .bg-center, .h-100, .relative;

        z-index: 1;
      }

      .post-title {
        @extend .white, .f4, .absolute, .bottom-0, .left-0, .w-100, .text-shadow, .pa2;
      }
    }

    .smaller-cell {
      @extend .w-40-ns;
    }

    .larger-cell {
      @extend .w-60-ns;
    }
  }
}