.text-shadow {
  text-shadow: 1px 0px $spacing-medium $black-50;
}

.color-inherit {
  color: inherit;
}

.hide-child {
  &:not(:hover) {
    .child {
      height: 0;
      overflow: hidden;
    }
  }
}
