/**
* Converted the js_composer styles to tachyon compatible ones. If you're
* buidling ontop of a js_composer theme, import this in your styles.scss.
*
* Note: When you're using WPBakery, you need to be outside the PageWidth.
*
* Replace width with the width of your site.
**/

$wpb-content-width: 80%;
$wpdb-content-padding: calc(
  ((100% - #{$wpb-content-width}) / 2) - (#{$spacing-medium} / 2)
);

.wpb_row {
  clear: both;
  width: 100%;

  &:not(.wpex-vc-row-stretched) {
    width: $wpb-content-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  @mixin row-stretched {
    &.wpex-vc-row-stretched {
      &:not([data-vc-stretch-content="true"]) {
        padding-left: $wpdb-content-padding;
        padding-right: $wpdb-content-padding;
      }
    }
  }

  &.vc_row-no-padding {
    padding: 0;
  }

  &:after,
  &:before {
    display: table;
    content: "";
    clear: both;
  }

  > .wpb_column {
    width: 100%;
    float: left;
    margin-bottom: $spacing-medium;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;

    @at-root #{selector-replace(&, '.wpb_row', '.wpb_row.no-bottom-margins')} {
      margin-bottom: 0;
    }

    @at-root #{selector-replace(&, '.wpb_row', '.wpb_row.vc_row-no-padding')} {
      padding: 0;
    }

    @at-root #{selector-replace(&, '.wpb_row', '.wpb_row[data-vc-stretch-content="true"]')} {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &.vc_row-flex {
    @media #{$breakpoint-large} {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
    }

    &.vc_row-o-content-middle {
      @media #{$breakpoint-large} {
        align-items: center;
      }
    }

    .wpb_column {
      float: none;
    }
  }

  @media #{$breakpoint-large} {
    @include row-stretched();

    .vc_col-sm-12 {
      width: 100%;
    }
    .vc_col-sm-11 {
      width: 91.66666667%;
    }
    .vc_col-sm-10 {
      width: 83.33333333%;
    }
    .vc_col-sm-9 {
      width: 75%;
    }
    .vc_col-sm-8 {
      width: 66.66666667%;
    }
    .vc_col-sm-7 {
      width: 58.33333333%;
    }
    .vc_col-sm-6 {
      width: 50%;
    }
    .vc_col-sm-5 {
      width: 41.66666667%;
    }
    .vc_col-sm-4 {
      width: 33.33333333%;
    }
    .vc_col-sm-3 {
      width: 25%;
    }
    .vc_col-sm-2 {
      width: 16.66666667%;
    }
    .vc_col-sm-1 {
      width: 8.33333333%;
    }

    .vc_col-sm-1\/5 {
      width: 20%;
    }
  }
}

.one-half,
.one-third,
.one-fourth,
.one-fifth {
  width: 100%;

  @media #{$breakpoint-not-small} {
    float: left;
  }

  clear: none !important;

  &.first {
    clear: both !important;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

#root {
  @media #{$breakpoint-large} {
    .one-half {
      width: 50%;
    }
    .one-third {
      width: 33.33333%;
    }
    .one-fourth {
      width: 25%;
    }
    .one-fifth {
      width: 20%;
    }
  }
}

.wpb_video_wrapper {
  @extend .aspect-ratio, .aspect-ratio--16x9;

  margin-bottom: $spacing-medium;
  z-index: 1;

  iframe {
    @extend .aspect-ratio--object;
  }
}

.vc_clearfix {
  clear: both;
}

.vc_custom_heading,
.vcex-heading {
  font-size: $font-size-2;
  font-weight: 700;

  a {
    color: inherit;
  }
}

.vc_figure {
  margin: 0;
}

.typography-white {
  &,
  & * {
    color: $white !important;
  }
}

.vcex-recent-news {
  text-align: center;

  @media #{$breakpoint-large} {
    text-align: left;
  }

  .vcex-recent-news-date {
    color: $white;
    background-color: $blue;
    padding: $spacing-small;
    text-align: center;
    margin-bottom: $spacing-small;
    max-width: $max-width-4;
    margin-left: auto;
    margin-right: auto;

    .day {
      font-weight: 600;
    }

    .month {
      display: block;
      white-space: nowrap;
      padding: $spacing-small;
      font-size: 0.7em;
    }
  }

  .vcex-recent-news-entry {
    @media #{$breakpoint-large} {
      display: flex;
      align-items: flex-start;
    }
  }

  .vcex-news-entry-details {
    @media #{$breakpoint-large} {
      padding-left: $spacing-medium;
    }

    .vcex-recent-news-entry-title-heading {
      margin-top: 0;

      .vcex-recent-news-entry-title-heading {
        margin-top: 0;
      }
    }

    .vcex-recent-news-entry-excerpt {
      text-align: justify;

      @media #{$breakpoint-large} {
        text-align: left;
      }
    }
  }
}

.vcex-image {
  img {
    display: block;
  }
}

.vc_btn3 {
  @extend .pointer,
    .f6,
    .link,
    .bg-animate,
    .hover-bg-blue,
    .br2,
    .ph4,
    .pv2,
    .mb2,
    .dib,
    .white,
    .bg-green;

  &.vc_btn3-block {
    display: block;
    text-align: center;
  }
}

.vc_separator {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: stretch;

  > * {
    font-weight: 400;
    display: block;
    flex-grow: 1;
  }

  > :not(.vc_sep_holder) {
    background-color: $white;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }

  .vc_sep_holder {
    border-bottom-color: $light-silver;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}
