/**
 * Root Imports and Theming
 */
@import "tachyons-sass";

$primary: $green;
$secondary: $blue;

@import "./_tachyon/tachyons.scss";
@import "./_animations.scss";

@include tachyons-color-gen("primary", $primary);
@include tachyons-color-gen("secondary", $secondary);

@include tachyons-prop(".text-shadow") {
  text-shadow: 1px 0px $spacing-medium $black-50;
}

@include tachyons-prop(".pre-line") {
  white-space: pre-line;
}

/**
 * Defaults
 */

 @import "./_defaults.scss";

/**
 * General purpose, theme specific styles
 */
